@import 'https://fonts.googleapis.com/css?family=Merriweather';
@import 'https://fonts.googleapis.com/css?family=Roboto';
body {
  background-color: lightblue;
}
h1 {
  color: white;
  font-family: roboto;
}

svg {
  display: block;
}
p {
  font-family: merriweather;
}
